<h1>Kisi Challenge</h1>
<a href="/demo/start_job"><button>Do the job</button></a>
<a href="/demo/start_job/5"><button>Start five jobs</button></a>
<a href="/demo/start_job/100"><button>Start 100 jobs</button></a>

<dl>
  <dt>Jobs in queue:</dt>
  <dd><%= @jobs_in_queue %></dd>

  <dt>Jobs done:</dt>
  <dd><%= @job_count %></dd>

  <dt>Total job time:</dt>
  <dd title="<%= Time.at(@job_time).utc.strftime('%H:%M:%S') %>">
    <%= distance_of_time_in_words(@job_time.seconds) %>
  </dd>
</dl>
